{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="{% static './css/courses/SHOULDERS/shoulders1.css'%}">
</head>
<body>
	<main>
		<div class="cd-image-block">
			<ul class="cd-images-list">
				<li class="is-selected">
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>
			</ul> <!-- .cd-images-list -->
		</div> <!-- .cd-image-block -->

		<div class="cd-content-block">
			<ul>
				<li class="is-selected">
					<div>
						<button class="button-79" role="button" value="back" onclick="history.back()">Go back</button>
						<h2>BARBELL FRONT RAISES</h2>
						
						<p>
							- Primary muscle :  the front of the shoulders
						<br>
							- Secondary muscles : side shoulders
						<br>
							- Equipment: barbell 
						</p>
						
						
						<h4>BARBELL FRONT RAISES Instructions</h4>
						<p>
							1.	Grip the barbell with hands shoulder-width apart and feet positioned at about hip-width. Hold the barbell down by the front of your thighs. 
							<br>
							2.	Maintain an erect posture with shoulders about neutral or retracted.
							<br>
							3.	While keeping the elbows straight or slightly bent, raise your arms up in front of you to eye or shoulder level. 
							<br>
							4.	Slowly lower the bar and repeat. 
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							Front dumbbell raises are a great way to build upper-body strength, improve shoulder mobility and stability, and prevent injury.
							<br>
							It's OK to start with lighter weights as you perfect your form and pay attention to how your muscles are targeted. Gradually increase the weight as you gain strength.
						</p>
					</div> 
				</li>

				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>SCOTT PRESS
						</h2>
						
						<p>
							- Primary muscle :  the front of the shoulders (Lateral Deltoid)
						<br>
							- Secondary muscles: side shoulders
						<br>
							- Equipment: barbell / dumbells
						</p>
						
						<h4>SCOTT PRESS Instructions</h4>
						<p>
							1.	Take a dumbbell in each hand and sit on the bench and put your back against the upright part of the bench.
							<br>
							2.	Take the dumbbells and hold them up in front of your face as if you were a boxer.
							<br>
							3.	Lift the dumbbells out and upward. Rotate your arms so that your palms are now facing down and forward.
							<br>
							4.	Bring the dumbbells back down into boxer position. This completes one repetition
							
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							The Scott Press is a shoulder exercise developed by Vince Gironda for her student Larry Scott. The reason why the Scott Press works so well is because it targets all three parts of the shoulder at once. The front deltoid, middle delt, and the rear. The dumbbell Scott press can be difficult to master.
						</p>	
					</div> 
				</li>


				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>Seated Dumbbell Front Raise
						</h2>

						<p>
							- Primary muscle :  the front of the shoulders (Lateral Deltoid)
							Secondary muscles : 	
							Equipment: dumbbells
						<br>
							- Secondary muscles : side shoulders
						<br>
							Equipment: Dumbbells
						</p>
						
						<h4>Seated Dumbbell Front Raise Instructions</h4>
						<p>
							1.	Stand with feet about shoulder-width apart.
							<br>
							2.	Keep the back straight and feet planted flat on the floor. Your arms holding weights should hang down.
							<br>
							3.	Hold the dumbbells across the thighs horizontally, palms facing back toward the thighs. Ensure that you have a firm grip.
							<br>
							4.	Brace the abdominal muscles.
							<br>
							5.	Lift the weights upward, inhaling, with arms out in front and palms facing down. Keep a slight bend in the elbows to reduce the stress on the joints.
							<br>
							6.	Pause when the arms are approximately horizontal to the floor and feel the contraction in the shoulders.
							<br>
							7.	Return the dumbbells to the starting position at the thighs with a slow and controlled motion while exhaling.
							<br>
							8.	Repeat the exercise for the number of sets and repetitions in your program.


						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							Front dumbbell raises are a great way to build upper-body strength, improve shoulder mobility and stability, and prevent injury. It's OK to start with lighter weights as you perfect your form and pay attention to how your muscles are targeted. Gradually increase the weight as you gain strength.
						</p>	
					</div> 
				</li>
 :




Seated Dumbbell Front Raise Instructions:


Exercise Benefits :

			</ul>
			
			<button class="cd-close">Close</button>
		</div> <!-- .cd-content-block -->

		<ul class="block-navigation">
			<li><button class="cd-prev inactive">&larr; Prev</button></li>
			<li><button class="cd-next">Next &rarr;</button></li>
		</ul> <!-- .block-navigation -->
	</main>	<!-- .cd-main -->

	

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>







    <script>
        jQuery(document).ready(function($){
	//store DOM elements
	var imageWrapper = $('.cd-images-list'),
		imagesList = imageWrapper.children('li'),
		contentWrapper = $('.cd-content-block'),
		contentList = contentWrapper.children('ul').eq(0).children('li'),
		blockNavigation = $('.block-navigation'),
		blockNavigationNext = blockNavigation.find('.cd-next'),
		blockNavigationPrev = blockNavigation.find('.cd-prev'),
		//used to check if the animation is running
		animating = false;

	//on mobile - open a single project content when selecting a project image
	imageWrapper.on('click', 'a', function(event){
		event.preventDefault();
		var device = MQ();
		
		(device == 'mobile') && updateBlock(imagesList.index($(this).parent('li')), 'mobile');
	});

	//on mobile - close visible project when clicking the .cd-close btn
	contentWrapper.on('click', '.cd-close', function(){
		var closeBtn = $(this);
		if( !animating ) {
			animating = true;
			
			closeBtn.removeClass('is-scaled-up').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
				contentWrapper.removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					animating = false;
				});

				$('.cd-image-block').removeClass('content-block-is-visible');
				closeBtn.off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
			});
		}
	});

	//on desktop - update visible project when clicking the .block-navigation
	blockNavigation.on('click', 'button', function(){
		var direction = $(this),
			indexVisibleblock = imagesList.index(imageWrapper.children('li.is-selected'));

		if( !direction.hasClass('inactive') ) {
			var index = ( direction.hasClass('cd-next') ) ? (indexVisibleblock + 1) : (indexVisibleblock - 1); 
			updateBlock(index);
		}
	});

	//on desktop - update visible project on keydown
	$(document).on('keydown', function(event){
		var device = MQ();
		if( event.which=='39' && !blockNavigationNext.hasClass('inactive') && device == 'desktop') {
			//go to next project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) + 1);
		} else if( event.which=='37' && !blockNavigationPrev.hasClass('inactive') && device == 'desktop' ) {
			//go to previous project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) - 1);
		}
	});

	function updateBlock(n, device) {
		if( !animating) {
			animating = true;
			var imageItem = imagesList.eq(n),
				contentItem = contentList.eq(n);
			
			classUpdate($([imageItem, contentItem]));
			
			if( device == 'mobile') {
				contentItem.scrollTop(0);
				$('.cd-image-block').addClass('content-block-is-visible');
				contentWrapper.addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentWrapper.find('.cd-close').addClass('is-scaled-up');
					animating = false;
				});
			} else {
				contentList.addClass('overflow-hidden');
				contentItem.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentItem.siblings().scrollTop(0);
					contentList.removeClass('overflow-hidden');
					animating = false;
				});
			}

			//if browser doesn't support transition
			if( $('.no-csstransitions').length > 0 ) animating = false;

			updateBlockNavigation(n);
		}
	}

	function classUpdate(items) {
		items.each(function(){
			var item = $(this);
			item.addClass('is-selected').removeClass('move-left').siblings().removeClass('is-selected').end().prevAll().addClass('move-left').end().nextAll().removeClass('move-left');
		});
	}

	function updateBlockNavigation(n) {
		( n == 0 ) ? blockNavigationPrev.addClass('inactive') : blockNavigationPrev.removeClass('inactive');
		( n + 1 >= imagesList.length ) ? blockNavigationNext.addClass('inactive') : blockNavigationNext.removeClass('inactive');
	}

	function MQ() {
		return window.getComputedStyle(imageWrapper.get(0), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "").split(', ');
	}

});
    </script>
</body>
</html>


