{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="{% static './css/courses/BACK/back1.css'%}">
</head>
<body>
	<main>
		<div class="cd-image-block">
			<ul class="cd-images-list">
				<li class="is-selected">
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>
			</ul> <!-- .cd-images-list -->
		</div> <!-- .cd-image-block -->

		<div class="cd-content-block">
			<ul>
				<li class="is-selected">
					<div>
						<button class="button-79" role="button" value="back" onclick="history.back()">Go back</button>
						<h2>PULL DOWN</h2>
						
						<p>
							- Primary muscle : Lats
						<br>
							- Secondary muscles : Biceps, Posterior Deltoid, rhomboids, Middle and Lower Trapezius, Pectoralis Minor
						<br>
							- Equipment: XMark Heavy Duty Lat Pulldown Machine
						</p>
						
						
						<h4>PULL DOWN Instructions</h4>
						<p>
							- Grasp the bar with a wide grip with an overhand, knuckles-up grip. Other positions and grips are possible, but start with this standard position.
							<br>
							- Pull the bar down until it's approximately level with the chin. Keep your feet flat on the floor and engage your abs as you pull. The bottom of the motion should be where your elbows can't move downward any more without moving backward. Be sure to stop at that point and do not go lower.
							<br>
							- Squeeze the shoulder blades together while maintaining square shoulders.
							<br>
							- From the bottom position, with the bar close to your chin, slowly return the bar to the starting position while controlling its gradual ascent. Don't let it crash into the weight plates.
							<br>
							- Continue until you complete eight to 12 repetitions in a set. Rest, then continue to complete your program of sets.
							
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							This exercise targets the latissimus dorsi, more commonly referred to as the "lats," which is the muscle just under the armpits and spreading across and down the back. By isolating the back muscles with this exercise, you can focus specifically on them without tiring out the biceps or triceps. 
							<br>
							It's important to target your back muscles to help with proper posture and to ease pulling movements, like opening a door, starting a lawnmower, swimming, or even performing a pull-up. Having strong lats may even help relieve some kinds of back pain.
						</p>
					</div> 
				</li>


				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>PULL UP
						</h2>
						
						<p>
							- Primary muscle : Latissimus Dorsi
						<br>
							- Secondary muscles: Rhomboids, Biceps
						<br>
							- Equipment: York Squat Rack, Paramount Chin-up Dip, Life Fitness VKR/Pull-Up Station, Life Fitness Hammer HD Half Rack
						</p>
						
						
						<h4>PULL UP Instructions</h4>
						<p>
							
							- Exhale while pulling yourself up so your chin is level with the bar. Pause at the top.
							<br>
							- Lower yourself (inhaling as you go down) until your elbows are straight.
							<br>
							- Repeat the movement without touching the floor.
							<br>
							- Complete the number of repetitions your workout requires.
				
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							The pullup primarily targets the latissimus dorsi (lats) which is the large back muscle behind your arms, but it also works most of your chest, upper back, and shoulder muscles. Your abs are involved in stabilizing you as well. Strengthening your upper body will help you everyday tasks and in achieving good posture.
						</p>	
					</div> 
				</li>

				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>CLOSE-GRIP CABLE ROW
						</h2>
						
						<p>
							- primary muscles: Lats,Trapezius,Rear Deltoids
						<br>
							- Secondary muscles: Biceps, Forearm Flexors, Rotator Cuffs
						<br>
							- Equipment: Cable machine
						</p>
						
						<h4>CLOSE-GRIP CABLE ROW Instructions</h4>
						<p>
							- Pull the handle and weight back toward the lower abdomen while trying not to use the momentum of the row too much by moving the torso backward with the arms.
							<br>
							- Target the middle to upper back by keeping your back straight and squeezing your shoulder blades together as you row, chest out.
							<br>
							- Return the handle forward under tension to full stretch, remembering to keep that back straight even though flexed at the hips. Repeat the exercise for the desired number of repetitions.
							
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							The seated cable row is a pulling exercise that works the back muscles in general, particularly the latissimus dorsi, a.k.a. "lats." It also works the forearm muscles and the upper arm muscles, as the biceps and triceps are dynamic stabilizers for this exercise. Other stabilizing muscles that come into play are the hamstrings and gluteus maximus.
				<br>
							This exercise is done to develop strength rather than as an aerobic rowing exercise. Even though it's called a row, it is not the classic rowing action that you might use on the aerobic rowing machine. It is a functional exercise, as many times during the day you pull items toward your chest.
				</p>	
					</div> 
				</li>

				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>Bent over row with torsonator
						</h2>

						<p>
							- Primary Muscles: Latissimus Dorsi, Rhomboids
						<br>
							- Secondary muscles : Trapezius
						<br>
							Equipment: Dumbbell, Performance Barbell Bench Press, Precor DB Bench
						</p>
						
						<h4>Bent over row with torsonator Instructions</h4>
						<p>
							- Read "Getting Started" before beginning any exercise
							<br>
							- Place your leg on a flat bench. This will be the opposite leg to the arm you are working
							<br>
							- Bend over so your back is parallel to the floor
							<br>
							- Place the hand opposite that you are working out in front of you on the bench for more support
							<br>
							- Keep your standing leg slightly bent
							<br>
							- Grasp the dumbbell with palm facing towards the bench
							<br>
							- Let your arm hang all the way down and then pull the weight straight up
							<br>
							- Keep your head up and back straight at all times, and do NOT swing or use momentum to lift the weight up
							<br>
							- This exercise can also be performed with barbells, different machines or with a cable


						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							Deadlifts are crazy effective when it comes to their overall benefits for muscle mass and strength. Now, there is a nice carryover from the Bent Over Row to the deadlift since muscle in the hamstrings, back and core are all working together in this position to stabilize the weight.
<br>
							The movements are similar and can both assist in developing a stronger force production towards other pulling movements as well.


						</p>	
					</div> 
				</li>

			</ul>
			
			<button class="cd-close">Close</button>
		</div> <!-- .cd-content-block -->

		<ul class="block-navigation">
			<li><button class="cd-prev inactive">&larr; Prev</button></li>
			<li><button class="cd-next">Next &rarr;</button></li>
		</ul> <!-- .block-navigation -->
	</main>	<!-- .cd-main -->

	

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>







    <script>
        jQuery(document).ready(function($){
	//store DOM elements
	var imageWrapper = $('.cd-images-list'),
		imagesList = imageWrapper.children('li'),
		contentWrapper = $('.cd-content-block'),
		contentList = contentWrapper.children('ul').eq(0).children('li'),
		blockNavigation = $('.block-navigation'),
		blockNavigationNext = blockNavigation.find('.cd-next'),
		blockNavigationPrev = blockNavigation.find('.cd-prev'),
		//used to check if the animation is running
		animating = false;

	//on mobile - open a single project content when selecting a project image
	imageWrapper.on('click', 'a', function(event){
		event.preventDefault();
		var device = MQ();
		
		(device == 'mobile') && updateBlock(imagesList.index($(this).parent('li')), 'mobile');
	});

	//on mobile - close visible project when clicking the .cd-close btn
	contentWrapper.on('click', '.cd-close', function(){
		var closeBtn = $(this);
		if( !animating ) {
			animating = true;
			
			closeBtn.removeClass('is-scaled-up').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
				contentWrapper.removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					animating = false;
				});

				$('.cd-image-block').removeClass('content-block-is-visible');
				closeBtn.off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
			});
		}
	});

	//on desktop - update visible project when clicking the .block-navigation
	blockNavigation.on('click', 'button', function(){
		var direction = $(this),
			indexVisibleblock = imagesList.index(imageWrapper.children('li.is-selected'));

		if( !direction.hasClass('inactive') ) {
			var index = ( direction.hasClass('cd-next') ) ? (indexVisibleblock + 1) : (indexVisibleblock - 1); 
			updateBlock(index);
		}
	});

	//on desktop - update visible project on keydown
	$(document).on('keydown', function(event){
		var device = MQ();
		if( event.which=='39' && !blockNavigationNext.hasClass('inactive') && device == 'desktop') {
			//go to next project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) + 1);
		} else if( event.which=='37' && !blockNavigationPrev.hasClass('inactive') && device == 'desktop' ) {
			//go to previous project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) - 1);
		}
	});

	function updateBlock(n, device) {
		if( !animating) {
			animating = true;
			var imageItem = imagesList.eq(n),
				contentItem = contentList.eq(n);
			
			classUpdate($([imageItem, contentItem]));
			
			if( device == 'mobile') {
				contentItem.scrollTop(0);
				$('.cd-image-block').addClass('content-block-is-visible');
				contentWrapper.addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentWrapper.find('.cd-close').addClass('is-scaled-up');
					animating = false;
				});
			} else {
				contentList.addClass('overflow-hidden');
				contentItem.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentItem.siblings().scrollTop(0);
					contentList.removeClass('overflow-hidden');
					animating = false;
				});
			}

			//if browser doesn't support transition
			if( $('.no-csstransitions').length > 0 ) animating = false;

			updateBlockNavigation(n);
		}
	}

	function classUpdate(items) {
		items.each(function(){
			var item = $(this);
			item.addClass('is-selected').removeClass('move-left').siblings().removeClass('is-selected').end().prevAll().addClass('move-left').end().nextAll().removeClass('move-left');
		});
	}

	function updateBlockNavigation(n) {
		( n == 0 ) ? blockNavigationPrev.addClass('inactive') : blockNavigationPrev.removeClass('inactive');
		( n + 1 >= imagesList.length ) ? blockNavigationNext.addClass('inactive') : blockNavigationNext.removeClass('inactive');
	}

	function MQ() {
		return window.getComputedStyle(imageWrapper.get(0), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "").split(', ');
	}

});
    </script>
</body>
</html>


