{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	<link rel="stylesheet" href="{% static './css/courses/ARMS/ARMS_TB.css'%}">
</head>
<body>
	<title>2 Blocks Template</title>
	<main>
		<div class="cd-image-block">
			<ul class="cd-images-list">
				<li class="is-selected">
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>
				
				<li>
					<a href="#0">
					</a>
				</li>
			</ul> <!-- .cd-images-list -->
		</div> <!-- .cd-image-block -->

		<div class="cd-content-block">
			<ul>
				<li class="is-selected">
					<div>
						<button class="button-79" role="button" value="back" onclick="history.back()">Go back</button>
						<h2>Rope Triceps Pushdowns</h2>
						
						<p>
							- Primary muscle : Triceps
						<br>
							- Secondary muscles : None
						<br>
							- Equipment: Pushdown machine (cable machine) or a resistance band
						</p>
						
						<h4>Rope Triceps Pushdowns Instructions</h4>
						<p>
							1.	Face the triceps pushdown cable machine and grasp the horizontal cable bar or rope attachment (depending on the machine your gym has) with an overhand grip.1 Adjust the bar or rope grips to about chest level.
							<br>
							2.	Using the pin-and-place adjustment and set a low weight to start. Different versions of the machine may include other weighting mechanisms.
							<br>
							3	Start by bracing your abdominals.

							4.   Tuck your elbows in at your sides and position your feet slightly apart.

							5.	Inhale. Push down until your elbows are fully extended but not yet in the straight, locked position. Keep your elbows close to your body and bend your knees slightly on the pushdown. Resist bending forward. Try to keep your back as straight as possible as you push down.1

							6.	As you exhale, return to the starting point using a controlled movement. Try not to crash the weights.

							7.	For beginners, aim to complete 4 sets of 8 reps

						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							1.	Triceps pushdowns benefit your overall strength and endurance by engaging your core, back, and shoulders.1 The move is also adaptable to your strength and level, as you can increase the weight as you go.
							<br>
							2.	Performing this move properly also requires isolation, a fundamental skill for many other exercises.
						</p>
					</div> 
				</li>

				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>The diamond Push Up
						</h2>
						
						<p>
							- Primary muscle : Triceps
						<br>
							- Secondary muscles : pectoralis (chest) muscles, deltoids (shoulders), and serratus anterior
						<br>
							- Equipment: body-weight
						</p>
						
						<h4>The diamond Push Up Instructions</h4>
						<p>
							1.	Begin on all fours with your knees and toes flexed and in contact with the floor. Your hips should be over your knees. Your hands should be slightly narrower than your shoulders. Connect your thumbs and index fingers to create a diamond shape. Grip the ground with your hands, and rotate your shoulders outward to engage your lats.
							<br>
							2.	Straighten your legs to lift your knees off the ground so you end up in a pushup position. Your legs should be hip-width apart or together.
							<br>
							3.	Pretension your shoulders and hips while engaging your core. Squeeze your quads and glutes. Your chin should remain tucked, as if you were holding an egg under your chin. All repetitions should begin from this position.
							<br>
							4.	Pull your chest toward your hands by bending your elbows. Your shoulder blades should retract as you lower to the ground.

						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							1.	Diamond push-ups target your triceps.
							<br>
							2.	Diamond push-ups increase core stability and strength.
							<br>
							3.	Diamond push-ups work multiple muscle groups across your body.
						</p>	
					</div> 
				</li>
				


				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>Bench Dip
						</h2>
						
						<p>
							- Primary muscle : Triceps
						<br>
							- Secondary muscles : front delts, chest muscles as well as the lats.
						<br>
							- Equipment: body-weight
						</p>
						
						<h4>Bench Dip Instructions</h4>
						<p>
							1.	Sit down on a bench, hands next to your thighs. (You can also perform a bench dip off a stair or other elevated surface; the same steps apply.)
							<br>
							2.	Walk your feet out and extend your legs, lifting your bottom off the bench and holding there with extended arms.
							<br>
							3.	Hinging at the elbow, lower your body down as far as you can go, or until your arms form a 90-degree angle.
							<br>
							4.	Push up through your palms back to start.

						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							1.	Bench dips can strengthen muscles in your triceps, chest, and shoulders.
							<br>
							2.	They’re also simple to scale. Whether you want to ease some pressure or take on more of a challenge, bench dips are a versatile move to add to your routine.
						</p>	
					</div> 
				</li>
				
				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>Standing triceps kickbacks
						</h2>

						<p>
							- Primary muscle : Triceps
						<br>
							- Secondary muscles : NONE

						<br>
							- Equipment: Dumbells
						</p>
						
						<h4>Standing triceps kickbacks Instructions</h4>
						<p>
							1.	Hold a dumbbell in each hand with your palms facing in toward each other, keeping your knees bent slightly.
							<br>
							2.	Engage your core and maintain a straight spine as you hinge forward at the waist, bringing your torso almost parallel to the floor.
							<br>
							3.	Keep your upper arms in close to your body and your head in line with your spine, tucking your chin in slightly.
							<br>
							4.	On an exhale, engage your triceps by straightening your elbows.
							<br>
							5.	Hold your upper arms still, only moving your forearms during this movement.
							<br>
							6.	Pause here, then inhale to return the weights to the starting position.
							<br>
							7.	Do 2 to 3 sets of 10 to 15 reps.
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							1.	It is highly versatile as you can adjust it to your current fitness level. This exercise has various modifications that use resistance bands, barbells, and cable machines.
							<br>
							2.	It increases the upper body movement and range, thereby helping you perform your lifting, swimming, boxing, rowing, and other pushing activities efficiently.
							<br>
							3.	A tricep kickback exercise will help manage health problems like arthritis and reduce the pain and its symptoms.

						</p>	
					</div> 
				</li>

				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>Cable rope overhead triceps extension
						</h2>
						
						<p>
							- Primary muscle : Triceps
						<br>
							- Secondary muscles : Abs
						<br>
							- Equipment: Cable
						</p>
						<h4>Cable rope overhead triceps extension Instructions</h4>
						<p>
							1.	Attach a rope to a cable stack as high as possible and assume a standing position.
							<br>
							2.	Utilize a split stance, grasp the rope overhead with a neutral grip (palms facing), and lean forward by hinging at the hips.
							<br>
							3.	Initiate the movement by extending the elbows and flexing the triceps.
							<br>
							4.	Pull the rope downward until the elbows are almost locked out and then slowly lower under control back to the starting position.
							<br>
							5.	Repeat for the desired number of repetitions.

						</p>	
						
						<h4>Exercise Benefits</h4>
						<p>
							Triceps kickbacks are a simple and effective way to build arm and upper body strength. 
							Adding them to your routine can help you in other physical activities. 
							Maintain a well-rounded workout routine that includes flexibility, stretching, and balance training, 
							as well as strength exercises and cardio.

						</p>	
					</div> 
				</li>
			</ul>

			<button class="cd-close">Close</button>
		</div> <!-- .cd-content-block -->

		<ul class="block-navigation">
			<li><button class="cd-prev inactive">&larr; Prev</button></li>
			<li><button class="cd-next">Next &rarr;</button></li>
		</ul> <!-- .block-navigation -->
	</main>	<!-- .cd-main -->
	
	<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	






    <script>
        jQuery(document).ready(function($){
	//store DOM elements
	var imageWrapper = $('.cd-images-list'),
		imagesList = imageWrapper.children('li'),
		contentWrapper = $('.cd-content-block'),
		contentList = contentWrapper.children('ul').eq(0).children('li'),
		blockNavigation = $('.block-navigation'),
		blockNavigationNext = blockNavigation.find('.cd-next'),
		blockNavigationPrev = blockNavigation.find('.cd-prev'),
		//used to check if the animation is running
		animating = false;

	//on mobile - open a single project content when selecting a project image
	imageWrapper.on('click', 'a', function(event){
		event.preventDefault();
		var device = MQ();
		
		(device == 'mobile') && updateBlock(imagesList.index($(this).parent('li')), 'mobile');
	});

	//on mobile - close visible project when clicking the .cd-close btn
	contentWrapper.on('click', '.cd-close', function(){
		var closeBtn = $(this);
		if( !animating ) {
			animating = true;
			
			closeBtn.removeClass('is-scaled-up').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
				contentWrapper.removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					animating = false;
				});

				$('.cd-image-block').removeClass('content-block-is-visible');
				closeBtn.off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
			});
		}
	});

	//on desktop - update visible project when clicking the .block-navigation
	blockNavigation.on('click', 'button', function(){
		var direction = $(this),
			indexVisibleblock = imagesList.index(imageWrapper.children('li.is-selected'));

		if( !direction.hasClass('inactive') ) {
			var index = ( direction.hasClass('cd-next') ) ? (indexVisibleblock + 1) : (indexVisibleblock - 1); 
			updateBlock(index);
		}
	});

	//on desktop - update visible project on keydown
	$(document).on('keydown', function(event){
		var device = MQ();
		if( event.which=='39' && !blockNavigationNext.hasClass('inactive') && device == 'desktop') {
			//go to next project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) + 1);
		} else if( event.which=='37' && !blockNavigationPrev.hasClass('inactive') && device == 'desktop' ) {
			//go to previous project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) - 1);
		}
	});

	function updateBlock(n, device) {
		if( !animating) {
			animating = true;
			var imageItem = imagesList.eq(n),
				contentItem = contentList.eq(n);
			
			classUpdate($([imageItem, contentItem]));
			
			if( device == 'mobile') {
				contentItem.scrollTop(0);
				$('.cd-image-block').addClass('content-block-is-visible');
				contentWrapper.addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentWrapper.find('.cd-close').addClass('is-scaled-up');
					animating = false;
				});
			} else {
				contentList.addClass('overflow-hidden');
				contentItem.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentItem.siblings().scrollTop(0);
					contentList.removeClass('overflow-hidden');
					animating = false;
				});
			}

			//if browser doesn't support transition
			if( $('.no-csstransitions').length > 0 ) animating = false;

			updateBlockNavigation(n);
		}
	}

	function classUpdate(items) {
		items.each(function(){
			var item = $(this);
			item.addClass('is-selected').removeClass('move-left').siblings().removeClass('is-selected').end().prevAll().addClass('move-left').end().nextAll().removeClass('move-left');
		});
	}

	function updateBlockNavigation(n) {
		( n == 0 ) ? blockNavigationPrev.addClass('inactive') : blockNavigationPrev.removeClass('inactive');
		( n + 1 >= imagesList.length ) ? blockNavigationNext.addClass('inactive') : blockNavigationNext.removeClass('inactive');
	}

	function MQ() {
		return window.getComputedStyle(imageWrapper.get(0), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "").split(', ');
	}

});
    </script>
</body>
</html>


