{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="{% static './css/courses/CHEST/CHEST1.css'%}">
</head>
<body>
	<title>2 Blocks Template</title>
	<main>
		<div class="cd-image-block">
			<ul class="cd-images-list">
				<li class="is-selected">
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>

				<li>
					<a href="#0">
					</a>
				</li>
				
			</ul> <!-- .cd-images-list -->
		</div> <!-- .cd-image-block -->

		<div class="cd-content-block">
			<ul>
				

				<li class="is-selected">
					<div>
						<button class="button-79" role="button" value="back" onclick="history.back()">Go back</button>
						<h2>incline barbell bench press</h2>
						
						<p>
							- Primary muscle : Chest
						<br>
							- Secondary muscles : front delts, triceps
						<br>
							- Equipment: Barbell/Dumbells
						</p>
						
						
						<h4>incline barbell bench press Instructions</h4>
						<p>
							- Lie flat on an incline bench and set your hands just outside of shoulder width.
							<br>
							- Set your shoulder blades by pinching them together and driving them into the bench.
							<br>
							- Take a deep breath and allow your spotter to help you with the lift off in order to maintain tightness through your upper back.
							<br>
							- Let the weight settle and ensure your upper back remains tight after lift off.
							<br>
							- Inhale and allow the bar to descend slowly by unlocking the elbows.
							<br>
							- Lower the bar in a straight line to the base of the sternum (breastbone) and touch the chest.
							<br>
							- Push the bar back up in a straight line by pressing yourself into the bench, driving your feet into the floor for leg drive, and extending the elbows.
							<br>
							- Repeat for the desired number of repetitions.

						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							- Increased Strength
							<br>
							- Better Posture
							<br>
							- Stronger Upper Back And Chest
							<br>
							- Better Chest Definition
							<br>
							- Increased Shoulder Strength
						</p>
					</div> 
				</li>

				<li class="is-selected">
					<div>
						<button class="button-79" role="button" value="back" onclick="history.back()">Go back</button>
						<h2>decline barbell bench press</h2>
						
						<p>
							- Primary muscle : Chest
						<br>
							- Secondary muscles : front delts, triceps
						<br>
							- Equipment: Barbell/Dumbells
						</p>
						
						
						<h4>decline barbell bench press Instructions</h4>
						<p>
							- Lie flat on an decline bench, set your hands just outside of shoulder width, and hook your feet underneath the pad.
							<br>
							- Set your shoulder blades by pinching them together and driving them into the bench.
							<br>
							- Take a deep breath and allow your spotter to help you with the lift off in order to maintain tightness through your upper back.
							<br>
							- Let the weight settle and ensure your upper back remains tight after lift off.
							<br>
							- Inhale and allow the bar to descend slowly by unlocking the elbows.
							<br>
							- Lower the bar in a straight line to just below your sternum (breastbone) and touch the chest.
							<br>
							- Push the bar back up in a straight line by pressing yourself into the bench and extending the elbows.
							<br>
							- Repeat for the desired number of repetitions.

						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							- Increased Activation of Lower Pecs.
							<br>
							- Tricep Activation.
							<br>
							- Reduced Stress on Back.
							<br>
							- Reduced Stress on Shoulders.
							<br>
							- Ability to Lift More Weight.
							<br>
							- Strength Transfer to Arched Benching.
						</p>
					</div> 
				</li>

				<li>
					<div>
						<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
						<h2>Barbell bench press
						</h2>
						
						<p>
							- Primary muscle : Chest
						<br>
							- Secondary muscles : front delts, triceps
						<br>
							- Equipment: Barbell/Dumbells
						</p>
						
						
						<h4>Barbell bench press Instructions</h4>
						<p>
							1.	Lie on your back on a flat bench. Grip a barbell with hands slightly wider than shoulder width. The bar should be directly over the shoulders.
							<br>
							2.	Press your feet firmly into the ground and keep your hips on the bench throughout the entire movement.
							<br>
							3.	Keep your core engaged and maintain a neutral spine position throughout the movement. Avoid arching your back.
							<br>
							4.	Slowly lift the bar or dumbbells off the rack, if using. Lower the bar to the chest, about nipple level, allowing elbows to bend out to the side, about 45 degrees away from the body.
							<br>
							5.	Stop lowering when your elbows are just below the bench. Press feet into the floor as you push the bar back up to return to starting position.
							<br>
							6.	Perform 5 to 10 reps, depending on weight used. Perform up to 3 sets
						</p>
						
						<h4>Exercise Benefits</h4>
						<p>
							•	Increased Upper-Body Strength.
							<br>
							•	Predictor of Upper-Body Strength.
							<br>
							•	Bigger Pec Major.
							<br>
							•	Stronger Pec Minor.
							<br>
							•	Shredded Serratus Anterior.
							<br>
							•	Iron-Forged Delts.
							<br>
							•	Crazy Strong Triceps.
							<br>
							•	Improved Bone Health.
						</p>	
					</div> 
				</li>


				<li>
						<div>
							<button class="button-79" role="button" value="Go back!" onclick="history.back()">Go back</button>
							<h2>incline dumbbell fly
							</h2>
							
							<p>
								- Primary muscle :  Chest 
							<br>
								- Secondary muscles : shoulders
							<br>
								- Equipment: Dumbells, Bench
							</p>
							
							
							<h4>incline dumbbell fly Instructions</h4>
							<p>
								- Lie flat on your back on a flat incline bench. Place your feet firmly on the floor on either side of the bench. Your head and back should remain firmly pressed into the bench throughout the exercise.
								<br>
								- Ask a spotter to hand you the 2 dumbbells, or gently pick them up from the floor and hold 1 in each hand.
								<br>
								- Lift arms up above the head so they’re extended but not locked out. There should be a slight bend at your elbow, and your palms and dumbbells should be facing each other.
								<br>
								- Inhale and slowly lower dumbbells in an arc motion until they’re in line with the chest. Your arms will be extended to the sides but not locked out. Don’t drop your arms lower than your shoulders.
								<br>
								- Exhale and slowly press the dumbbells up in the same arc motion.
								<br>
								- Perform 10–15 reps. Rest. Do 3 sets total.
							</p>
							
							<h4>Exercise Benefits</h4>
							<p>
								- Increased Strength.
								<br>
								- Better Chest Definition.
								<br>
								- Increased Shoulder Strength.
								<br>
								- Better Core Stability.
								<br>
								- Increased Core Strength.
								<br>
								- Improved Muscular Balance.
							</p>	
						</div> 
					</li>
			</ul>

			<button class="cd-close">Close</button>
		</div> <!-- .cd-content-block -->

		<ul class="block-navigation">
			<li><button class="cd-prev inactive">&larr; Prev</button></li>
			<li><button class="cd-next">Next &rarr;</button></li>
		</ul> <!-- .block-navigation -->
	</main>	<!-- .cd-main -->
	
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>






    <script>
        jQuery(document).ready(function($){
	//store DOM elements
	var imageWrapper = $('.cd-images-list'),
		imagesList = imageWrapper.children('li'),
		contentWrapper = $('.cd-content-block'),
		contentList = contentWrapper.children('ul').eq(0).children('li'),
		blockNavigation = $('.block-navigation'),
		blockNavigationNext = blockNavigation.find('.cd-next'),
		blockNavigationPrev = blockNavigation.find('.cd-prev'),
		//used to check if the animation is running
		animating = false;

	//on mobile - open a single project content when selecting a project image
	imageWrapper.on('click', 'a', function(event){
		event.preventDefault();
		var device = MQ();
		
		(device == 'mobile') && updateBlock(imagesList.index($(this).parent('li')), 'mobile');
	});

	//on mobile - close visible project when clicking the .cd-close btn
	contentWrapper.on('click', '.cd-close', function(){
		var closeBtn = $(this);
		if( !animating ) {
			animating = true;
			
			closeBtn.removeClass('is-scaled-up').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
				contentWrapper.removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					animating = false;
				});

				$('.cd-image-block').removeClass('content-block-is-visible');
				closeBtn.off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
			});
		}
	});

	//on desktop - update visible project when clicking the .block-navigation
	blockNavigation.on('click', 'button', function(){
		var direction = $(this),
			indexVisibleblock = imagesList.index(imageWrapper.children('li.is-selected'));

		if( !direction.hasClass('inactive') ) {
			var index = ( direction.hasClass('cd-next') ) ? (indexVisibleblock + 1) : (indexVisibleblock - 1); 
			updateBlock(index);
		}
	});

	//on desktop - update visible project on keydown
	$(document).on('keydown', function(event){
		var device = MQ();
		if( event.which=='39' && !blockNavigationNext.hasClass('inactive') && device == 'desktop') {
			//go to next project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) + 1);
		} else if( event.which=='37' && !blockNavigationPrev.hasClass('inactive') && device == 'desktop' ) {
			//go to previous project
			updateBlock(imagesList.index(imageWrapper.children('li.is-selected')) - 1);
		}
	});

	function updateBlock(n, device) {
		if( !animating) {
			animating = true;
			var imageItem = imagesList.eq(n),
				contentItem = contentList.eq(n);
			
			classUpdate($([imageItem, contentItem]));
			
			if( device == 'mobile') {
				contentItem.scrollTop(0);
				$('.cd-image-block').addClass('content-block-is-visible');
				contentWrapper.addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentWrapper.find('.cd-close').addClass('is-scaled-up');
					animating = false;
				});
			} else {
				contentList.addClass('overflow-hidden');
				contentItem.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					contentItem.siblings().scrollTop(0);
					contentList.removeClass('overflow-hidden');
					animating = false;
				});
			}

			//if browser doesn't support transition
			if( $('.no-csstransitions').length > 0 ) animating = false;

			updateBlockNavigation(n);
		}
	}

	function classUpdate(items) {
		items.each(function(){
			var item = $(this);
			item.addClass('is-selected').removeClass('move-left').siblings().removeClass('is-selected').end().prevAll().addClass('move-left').end().nextAll().removeClass('move-left');
		});
	}

	function updateBlockNavigation(n) {
		( n == 0 ) ? blockNavigationPrev.addClass('inactive') : blockNavigationPrev.removeClass('inactive');
		( n + 1 >= imagesList.length ) ? blockNavigationNext.addClass('inactive') : blockNavigationNext.removeClass('inactive');
	}

	function MQ() {
		return window.getComputedStyle(imageWrapper.get(0), '::before').getPropertyValue('content').replace(/'/g, "").replace(/"/g, "").split(', ');
	}

});
    </script>
</body>
</html>


