<!doctype html>
<html lang="en">
  <head>
  	<title>EAT FIT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./index.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	
</head>

	<section class="ftco-section">
		
		
		<div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="../index.html"><img src="../images/logo.png" style="width: 200px; margin-left: 535px; margin-bottom: 20px; margin-top: -100px;"></a>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="../index.html" class="nav-link">Home</a></li>
	        	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="COURSES.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="BACK.html">BACK</a>
                <a class="dropdown-item" href="CHEST.html">CHEST</a>
                <a class="dropdown-item" href="ARMS.html">ARMS</a>
                <a class="dropdown-item" href="SHOULDERS.html">SHOULDERS</a>
                <a class="dropdown-item" href="LEGS.html">LEGS</a>
              </div>
            </li>
	        	<li class="nav-item"><a href="CALORIES.html" class="nav-link">calories</a></li>
            <li class="nav-item"><a href="PROGRAMS.html" class="nav-link">PROGRAMS</a></li>
	          <li class="nav-item"><a href="CONTACT US.html" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    
	</section>
<!-- END nav -->




	

<!-- footer -->

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="../index.html">Home</a></li>
                      <li><a href="COURSES.html">Courses</a></li>
                      <li><a href="CALORIES.html">Calories</a></li>
                      <li><a href="PROGRAMS.html">Programs</a></li>
                      <li><a href="CONTACT US.html">Contact us</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li>PHONE: +212 629570454</li>
                      <li>GMAIL: eat.fitness04@gmail</li>
                      <li><a href="CONTACT US.html">Contact us</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Eat Fit</h3>
                  <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
              </div>
              <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100081638986885">
                <i class="icon ion-social-facebook"></i></a><a href="https://plus.google.com/+Paviliongift/posts">
                <i class="icon ion-social-youtube"></i></a><a href="http://www.instagram.com/eatfit10">
                <i class="icon ion-social-instagram"></i></a></div>
          </div>
      </div>
  </footer>
</div>
 

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


	</body>
</html>

